/*=====РАЗМЕТКА ДЛЯ INDEX.HTML========*/
:root {
  --main-title-color: #ffffff;
  --title-color: #212121;
  --text-color: #757575;
  --accent-color: #2196f3;
  --accent-button-color: #188ce8;
  --secondary-background-color: #2f303a;
  --other-background-color: #f5f4fa;
}
/* Глобальный border-box 
устанавливается для всех элементов и псевдоэлементов*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Обнуляю margins */
h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* скрыла заголовок в секции Наши преимущества*/
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
}

/*список не маркированный*/
.list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}
/*ссылки без подчеркивания*/
.link {
  text-decoration: none;
}

body {
  font-family: Roboto, sans-serif;
  background-color: var(--main-title-color);
  color: var(--text-color);
  
}
 .conteiner {
  /* display: flex; */
  width: 1200px; 
  margin: 0 auto;
  padding: 0 15px;
 }
/*=====HEADER======*/
.header {
  align-items: center;
  border-bottom-width: 1px solid #ECECEC;
}
.header-container {
  display: flex; 
  margin: 0 auto;
  width: 1200px;
  align-items: center; 
}
/*Логотип в HEDER*/
.logo {
  min-height: 31px;
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}
.header-logo-accent {
  color: var(--title-color);
}

/*====Навигация в HEDER====*/
.header-navigation {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
}

 .header-item:not(:last-child) {
  margin-right: 50px;
}
/* ссылки на студия/контакты/портфолио */
.header-nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-color);
}

.header-nav-link:hover,
.header-nav-link:focus {
  color: var(--accent-color);
}
/* Подсвечивает текущую страницу  */
.header-nav-activ {
  color: var(--accent-color);
}
/*АВТОРИЗАЦИЯ
Почта телефон в шапке*/
.header-contact {
  display: flex;
  margin-left: auto; 
}
/* хедер - ссылки на маил и телефон */
.header-contact-link {
  display: block; 
  padding-top: 32px;
  padding-bottom: 32px;
  font-size: 14px; 
  font-weight: 500;
  line-height: 1.14;
  font-style: normal;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
.header-contact-item:not(:last-child) {
  margin-right: 50px;
}

.header-contact-link:hover,
.header-contact-link:focus {
  color: var(--accent-color);
}
/*======MAIN=====*/
/*Hero*/
.hero {
  min-height: 600px;
  margin-top: 0;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-color: var(--secondary-background-color);
}
.hero-title {
  width: 696px;
  height: 120px;
  margin: 0 auto 30px auto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: var(--main-title-color);
}
.hero-button {
  display: inline-block;
  width: 200px;/* минимальная ширина кнопки, чб избежать переполнения*/
  min-height: 50px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--main-title-color);
  background-color: var(--accent-color);
  cursor: pointer;
  border: transparent;
}
.hero-button:focus,
.hero-button:hover {
  background-color: var(--accent-button-color);
}

/*Наши преимущества
Внимание к деталям\Пунктуальность\Планирование\Современные технологии*/
.benefits {
  padding-top: 94px;
  padding-bottom: 94px;
}
.benefits-title {
  margin-top: 0;
  margin-bottom: 10px;
  width: 270px;
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  /* text-align: left;  */
  text-transform: uppercase;
  color: var(--title-color);
}
.benefits-item:not(:last-child) {
  margin-right: 30px;
}
/* сбросила отступы для описаний преимуществ */
.benefits-item p {
  margin-top: 0;
  margin-bottom: 0;
}

.benefits-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: left;
}
/*Чем мы занимаемся*/
.work {
 padding-bottom: 94px;
}
.work-title {
  margin-top: 0;
  margin-bottom: 50px;
  min-height: 42px;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--title-color);
}
.work-item:not(:last-child) {
  margin-right: 30px;
}
/*Наша команда*/
.employees {
  background-color: var(--other-background-color);
  padding-top: 94px;
  padding-bottom: 94px;
}
.employees-item {
  background-color: var(--main-title-color);

}
/* Наша команда */
.employees-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--title-color);
}
.employees-name {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--title-color);
}
.employees-position {
  padding-bottom: 30px;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
}
.employees-item:not(:last-child) {
  margin-right: 30px;
}
.employees-img,
.employees-name {
  padding-bottom: 30px;
  text-align: center;
}
/*--FOOTER--*/
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--secondary-background-color);
}

.footer-logo {
  margin-bottom: 20px;
  min-height: 31px;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}
.footer-logo-accent {
  color: var(--main-title-color);
}
.footer-addr-list {
  flex-direction: column;
  margin-bottom: 9px;
}

.footer-addr-link {
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
}
.footer-mail-link,
.footer-phone-link {
  /* display: block; */
  /* margin-bottom: 9px; */
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
/*  подсветка при ховере и фокусе контактов хедера */
.footer-addr-link:focus,
.footer-addr-link:hover,
.footer-mail-link:focus,
.footer-mail-link:hover,
.footer-phone-link:hover,
.footer-phone-link:focus
{
  color: var(--accent-color);
}

/*=====РАЗМЕТКА ДЛЯ ПОРТФОЛИО========*/
/*ККНОПКИ*/
.portfolio-button {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--title-color);
  background-color: var(--other-background-color);
  cursor: pointer;
}
.portfolio-button:hover,
.portfolio-button:focus {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--main-title-color);
  background-color: var(--accent-color);
}
/*КАРТОЧКИ*/
.cards-headline {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
}
.cards-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
